<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="BookingTests">
	<parameter name="browserName" value="chrome" />
	<test name="TestngTests">
		<groups>
			<define name="all">
				<include name="positive" />
				<include name="negative" />
			</define>

			<run>
				<include name="all" />
			</run>
		</groups>
		<packages>
			<package name="org.com.friday.carlookup.scripts" />
		</packages>

	</test>
</suite>